/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Whitney-Semibold', sans-serif;                                              
}


/* HEADER */
header{
    background-color: #add8e6;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-bar{
    background-color: #daa520;
    height: 40px;
    width: calc(100% / 1.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    border: 1px dashed black;
    width: calc(100% / 5);
    padding: 0.5em;
}

#link{
    border: 1px dashed black;
    width: calc(60% - 3px); 
    text-align: center; 
    padding: 0.5em;
}

#login{
    border: 1px dashed black;  
    width: calc(100% / 5);
    text-align: right;
    padding: 0.5em;   
}


/* MAIN */
/* SECTION-1 */
.section-1{
    height: 300px;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-container{
    height: calc(80%);
    width: calc(100% / 2);
    background-color: #e97fe9;
    border: 1px dashed black;
}

/* SECTION-2 */
.section-2{
    height: 350px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2-container-1{
    height: calc(80%);
    width: calc(45%);
    background-color: #1e90ff;
    border: 1px dashed black;
}

.section-2-container-2{
    height: calc(80%);
    width: calc(25%);
    background-color: #ffc0cb;
    border: 1px dashed black;
}

/* SECTION-3 */
.section-3{
    height: 350px;
    background-color: #cbcbcb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3-container-1{
    height: calc(80%);
    width: calc(25%);
    background-color: #ffc0cb
    ;
    border: 1px dashed black;
}

.section-3-container-2{
    height: calc(80%);
    width: calc(45%);
    background-color: #1e90ff;
    border: 1px dashed black;
}

#
